footer {
  /* Footer - Icon Area */
  .iconall                                              {background: $footer2BgColor; padding-top: $v066; padding-bottom: $v066;}
  .iconall li                                           {padding-left: $v050; padding-right:  $v050; background-color: $footer2liBgColor;}
  .iconall li:first-of-type                             {padding-left: 0;}
  .iconall li:last-of-type                              {padding-right: 0;}
  .iconall img                                          {filter: grayscale(1); opacity: .7; transition: all ease .3s; max-width: 100%; height: auto;}
  .iconall img:hover                                    {filter: grayscale(0); opacity: 1; max-width: 70%;}
}

/* Mediaqueries ****************************************/

@media screen and (min-width: 992px){
    /* Footer */
  footer {
    .iconall                                           {padding-top: $v1; padding-bottom: $v1;}
    .iconall img                                       {max-width: 100%;}
  }
}
