<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
    =====================
        Partials/List/AGWW.html
-->
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
  <n:excludeDisplayedNews newsItem="{newsItem}" />
    <div class="teasertext">   
        <n:link class="headline" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"><f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode></n:link>

    <p>Laufzeit: <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date> &ndash; <f:format.date format="d.m.Y">{newsItem.archive}</f:format.date></p>
        
    </div>
    <n:link newsItem="{newsItem}" settings="{settings}" class="moreNews" title="{newsItem.title}">
        &nbsp;
    </n:link>

</div>