<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
    =====================
        Partials/List/ScienceTable.html
-->
    <tr class="news">
        <td>
            <f:if condition="{newsItem.teaser}">
                <f:then>
                    <n:link newsItem="{newsItem}" settings="{settings}">{newsItem.teaser}</n:link>
                </f:then>
                <f:else>
                    <n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link>
                </f:else>
            </f:if>
        </td>
        <td class="td-1">
            <f:if condition="{newsItem.bodyText}">
                <f:then>
                    <f:format.html>{newsItem.bodyText}</f:format.html>
                </f:then>
            </f:if>
        </td>
        <td class="td-2">
            <f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date><br />
            <f:format.date format="d.m.Y">{newsItem.archive}</f:format.date>
        </td>
        
        <td class="td-3">
            <f:if condition="{newsItem.firstCategory}">{newsItem.firstCategory.title}</f:if>
        </td>
    </tr>
        
</html>
